[Desktop Entry]
Encoding=UTF-8
Name=Link to Curriculum for N00bs | Code Crew - Learn How to Code
Type=Link
URL=http://codecrew.co/curriculum/
Icon=text-html
